doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content="The portfolio of the Omaha, Nebraska based front-end developer, Dustin Schau")
    meta(name="keywords", content="Developer, javascript, programming, designer, angular, react, node, user experience, design, omaha, nebraska")
    meta(name="robots", content="index, follow")
    title Dustin Schau - Front-end developer
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#002635")
    link(href="https://fonts.gstatic.com", rel="preconnect", crossorigin)
    link(rel="manifest", href=require('static/manifest.json'))
    link(rel="apple-touch-icon", href="./assets/icons/192x192.png")
  body
    // Oh hi, look at you all up in my business inspecting my source and what not. Well... welcome :) If you'd ever like to chat, reach out to me at dustinschau at gmail dot com, and let's talk!
    // tech used: 
    //
     Particles.js • ityped • Sass • pug • Webpack • AWS Lamda • Serverless • Years of experience screwing around on these damn internet machines
    main#fold(role="main")
      #alert
        p.message Website has been updated
        button.button Reload (
          span.count 10
          | )
      header#header
        .hero
          h1.name
            span.first
              span.letter D
              span.letter u
              span.letter s
              span.letter t
              span.letter i
              span.letter n
            span.last 
              span.letter S
              span.letter c
              span.letter h
              span.letter a
              span.letter u
          h2.role I develop 
            span.code-example
            |, typically using JavaScript
        #particles

      .social-circles
        a.github(href="https://github.com/dschau", name="github", target="_blank", rel="noopener")
          i.icon.icon-github-circled(aria-hidden="true")
        a.twitter(href="https://twitter.com/schaudustin", name="twitter", target="_blank", rel="noopener")
          i.icon.icon-twitter(aria-hidden="true")
        a.linkedin(href="https://www.linkedin.com/in/dustin-schau-928907132", name="linkedin", target="_blank", rel="noopener")
          i.icon.icon-linkedin(aria-hidden="true")
        a.facebook(href="https://www.facebook.com/profile.php?id=100004599014794", name="facebook", target="_blank", rel="noopener")
          i.icon.icon-facebook-squared(aria-hidden="true")
        a.blog(href="https://blog.dustinschau.com", name="blog", rel="noopener")
          i.icon.icon-chat(aria-hidden="true")

      .scroll-container
        a(href="#below-the-fold", role="navigation", data-scroll)
          span.text More info this way
          i.icon.icon-down-open(aria-hidden="true")
    #below-the-fold(role="complementary")
      section#expertise
        .heading
          h2.title My skills
          h3.subtitle The areas in which I'd claim to be the "real MVP"
        .content
          ul.group
            li.group-item
              .item
                .image.image-coding(alt="Computer code", lazy-load)
                .overlay
                  h3.item-title Development
                  i.icon.icon-code(aria-hidden="true")
              p.description Development is all about solving problems, and transforming an idea into reality. Whether a mom and pop shop, a Fortune 200 company, or somewhere in between, I've developed and transformed countless ideas into well-tested, usable, and performant applications
            li.group-item
              .item
                .image.image-ideas(alt="Notepad sketching ideas", lazy-load)
                .overlay
                  h3.item-title Design
                  i.icon.icon-beaker(aria-hidden="true")
              p.description Design is not just how something looks, it's also how it 
                em functions 
                | and my vast UI/UX experience and eye for detail are key drivers for my passion in designing immersive, beautiful, and pixel perfect applications
            li.group-item
              .item
                .image.image-build-tooling(alt="Hammer signifying build tools", lazy-load)
                .overlay
                  h3.item-title Build tooling
                  i.icon.icon-tools(aria-hidden="true")
              p.description Whether it's re-tooling the front-end build process for every application at a Fortune 200 company or fiddling with a pesky webpack, gulp, grunt, 
                em et al  
                | config, I've done a bit of everything, and bring a wealth of build tooling knowledge and know-how to any project

      section#work.has-scroll
        .heading
          h2.title My work
          h3.subtitle What I do and what I've done
        .content
          #work-description
            //- h3.title My work
            p.description As a front-end developer, my work can be drastically different day-to-day. Some days I'll be writing highly performant web applications using Angular, React, or the framework 
              em du jour. 
              | Other days I'll be working on standalone web components that can be easily distributed, consumed, and integrated. Still others  you'll find me tweaking build tooling in order to maximize performance and automate tasks to get developers working on what truly matters. Front-end development is my passion, and I am incredibly lucky to be able to  
              strong love 
              | what I do each and every day.
            .scroll-container
              a(href="#work-examples", role="navigation", data-scroll)
                span.text Examples below
                i.icon.icon-down-open(aria-hidden="true")

      section#work-examples.examples
        article#highlight.work
          .image.image-connected-driver-full(lazy-load)
          .heading
            h2.title Connected Driver
            h3.subtitle
              span PeopleNet, Inc.

          .content
            p.description Connected Driver is a hybrid application available in both the Google Play Store and Apple App Store. It is used by more than ten thousand users each month!
            ul.tags
              li.tag TypeScript
              li.tag Cordova
              li.tag JavaScript
              li.tag Sass
              li.tag Webpack

        article#secondary.work
          .image.image-speaking-full(lazy-load)
          .heading
            h2.title Speaking 
              span.ampersand &amp; 
              | workshops
            h3.subtitle
              span Full day workshops, presentations on JavaScript, front-end tooling, frameworks, etc.
          .content
            p.description Throughout my career, I've been privileged enough to get the opportunity to speak on a variety of topics and lead or assist with several workshops, including such topics as build tooling, framework comparisons, Angular, React, etc.&hellip; effectively "all things Javascript!"
            ul.tags
              li.tag Speaking
              li.tag Presentations
              li.tag Workshops
              li.tag Build tooling
              li.tag JavaScript

        article#supporting.work
          .image.image-build-tooling-full(lazy-load)
          .heading
            h2.title Build tooling 
              span.ampersand &amp; 
              | optimizations
            h3.subtitle
              span Webpack, gulp, grunt, custom Node scripts&hellip; been there, done that!
          .content
            p.description From revamping a monolithic Webpack config (check out my npm package, 
              a(href="https://www.npmjs.com/package/webpack-config-assign")
                code webpack-config-assign
              | ) to creating an application generator used by every application at a Fortune 500 company, I have experience in all phases of build tooling and automation, including performance optimizations to squeeze every ounce of performance out of an application
            ul.tags
              li.tag Build tooling
              li.tag Optimizations
              li.tag Automation
              li.tag Webpack
              li.tag JavaScript

      section#contact
        .heading
          h2.title Want to get in touch?
          h3.subtitle That whole socializing thing that humans sometimes do
        .content
          #contact-form-container
            .alert.success.hide
              i.icon.icon-ok-circled(aria-hidden="true")
              h3.message Got it! I'll be in touch.
            form(
              id="contact-form",
              name="contact-form",
              enctype="application/x-www-form-urlencoded",
              method="post",
              action="https://api.dustinschau.com/v1/email",
              novalidate
            )
              .row
                label(for="name") What's your name?
                  input(id="name", name="name", type="text", aria-required="true")
                label(for="email") What's your email?
                  input(id="email", name="email", type="email", aria-required="true")
              label(for="message") What's up?
                textarea(id="message", name="message", type="text", rows="3",  aria-required="true")
              button#submit(type="submit") Send
      footer(role="contentinfo")
        .social
          h3.message Made with
            i.icon.icon-heart(aria-hidden="true") 
            | by yours truly
          ul.icons
            li
              a(href="https://github.com/dschau", target="_blank", rel="noopener")
                i.icon.icon-github-circled(aria-hidden="true")
            li
              a(href="https://twitter.com/schaudustin", target="_blank", rel="noopener")
                i.icon.icon-twitter(aria-hidden="true")

            li
              a(href="https://www.linkedin.com/in/dustin-schau-928907132", target="_blank", rel="noopener")
                i.icon.icon-linkedin(aria-hidden="true")

            li
              a(href="https://www.facebook.com/profile.php?id=100004599014794", target="_blank", rel="noopener")
                i.icon.icon-facebook-squared(aria-hidden="true")

          h4.copyright &copy; 
            span#year MMXVII
              | .
          a.arrow.up(href="#fold", aria-label="Back to top", data-scroll)
            i.icon.icon-up-open(aria-hidden="true")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102928446-1', 'auto');
      ga('send', 'pageview');
